/* src/components/header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(135deg, #405a75 0%, #4c6b8a 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navList li {
  margin: 0;
}

.navList a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navList a:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

.loginButton {
  padding: 8px 16px;
  background-color: #22ff61;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginButton:hover {
  background-color: #19e64c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.registerButton {
  padding: 8px 16px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registerButton:hover {
  background-color: #e64a19;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
